pysolar
requests
xmltodict
netcdf4
cfgrib
eccodeslib; sys_platform != 'win32'
zarr
cdsapi
cartopy
chex
colabtools
dask
dinosaur-dycore
dm-haiku
dm-tree
jraph
matplotlib
pandas
rtree
scipy
trimesh
typing_extensions
xarray
xarray_tensorstore
jax[cpu]
